.about {
  padding: 45px 0px 0px 0px;
  text-align: center;
  background: -webkit-linear-gradient(-85deg, #fff 38%, #f2f2f2 20%);
  @media (max-width: 659.5px) {
    background: -webkit-linear-gradient(-85deg, #fff 23%, #f2f2f2 23%);
  }
  /* .about__container */

  &__container {
    position: relative;
  }

  /* .about__title */

  &__title {
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  /* .about__body */

  &__list {
    padding: 100px 0px 320px 0px;
    @media (min-width: 659.5px) {
      padding: 100px 0;
      width: 50%;
      margin-left: auto;
      text-align: left;
    }
    @media (min-width: 980.5px) {
      text-align: center;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  &__img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    @media (min-width: 659.5px) {
      bottom: 125px;
      left: 70px;
      transform: translate(0);
      transform: scale(1.7);
    }
    @media (min-width: 980.5px) {
      transform: none;
      position: relative;
      left: 0;
      bottom: 0;
      margin-bottom: -35px;
    }
  }

  /* .about__item */

  &__item {
    margin-bottom: 35px;
    @media (min-width: 980.5px) {
      position: relative;
    }
  }

  /* .about__sub-title */

  &__sub-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.3;
    &:not(:last-child) {
      margin-bottom: 20px;
      @media (min-width: 659.5px) {
        margin-bottom: 15px;
      }
    }
  }

  /* .about__text */

  &__description {
    line-height: 1.7;
    @media (min-width: 980.5px) {
    max-width: 255px;
    }
  }
}

.about__text {
  @media (min-width: 980.5px) {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-top: 60px;
    background-color: #f2f2f2;
  }
}

.about__image {
  @media (min-width: 980.5px) {
  position: relative;
  &::after {
    position: absolute;
    content: url(../img/shadow.svg);
    bottom: -15px;
    left: 0;
  }
  }
}
