.contacts {
  position: relative;
  padding: 40px;
  text-align: center;
  /* .contacts__title */

  &__title {
    padding: 0 20px;
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  /* .contacts__body */

  &__body {
    @media (min-width: 659.5px) {
      justify-content: center;
      gap: 25px 95px;
      display: flex;
      flex-wrap: wrap;
    }
  }

  /* .contacts__item */

  &__item {
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  /* .contacts__text */

  &__text {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.38;
  }

  /* .contacts__link */

  &__link {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.375;
    color: #d22856;
    transition: 0.3s;
    &:hover {
      color: #283645;
    }
    &:active {
      color: #283645;
      opacity: 0.3;
    }
  }
}
.title {
}
