.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 95px 0 0 0;
  color: #fff;
  background: url(../img/bg_intro.jpg) center / cover;
  @media (min-width: 659.5px) {
    padding: 210px 20px 120px;
  }

  /* .intro__container */
  &__title {
    padding: 0 15px 0;
    margin-bottom: 30px;
    @media (min-width: 659.5px) {
      padding: 0 45px 0;
      margin-bottom: 40px;
      max-width: 300px;
    }
  }
  &__mobile-img {
    @media (min-width: 659.5px) {
      display: none;
    }
  }
  &__tablet-img {
    display: none;
    @media (min-width: 659.5px) {
      display: inline-block;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  &__column {
    @media (min-width: 659.5px) {
      width: 50%;
    }
  }

  &__download {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 28px 20px 40px;
    text-align: center;
    background: #1d2631;
    @media (min-width: 659.5px) {
      background: none;
      padding: 0;
    }
  }

  &__btn {
    width: 100%;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 700;
    border: 3px solid #fff;
    border-radius: 30px;
    transition: 0.3s;
    @media (min-width: 659.5px) {
      max-width: 300px;
    }
    &:not(:last-child) {
      margin-bottom: 30px;
      @media (min-width: 659.5px) {
        margin-bottom: 40px;
      }
    }
    &:hover {
      color: #d22856;
      background: #fff;
    }
    &:active {
      color: #d22856;
      background: #fff;
      opacity: 0.3;
    }
  }

  &__icons {
    display: flex;
    flex-wrap: wrap;
    column-gap: 35px;
    &:not(:last-child) {
      margin-bottom: 25px;
      @media (min-width: 659.5px) {
        margin-bottom: 35px;
      }
    }
  }
  &__icon {
    width: 50px;
    height: 60px;
  }

  &__download-description {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.7;
    @media (min-width: 659.5px) {
      font-size: 18px;
      line-height: 1.3;
    }
  }
}

.logo-apple {
  background: url(../img/download_icons/apple-logo.svg) no-repeat bottom;
}
.logo-android {
  background: url(../img/download_icons/android-logo.svg) no-repeat bottom;
}

.logo-microsoft {
  background: url(../img/download_icons/microsoft-logo.svg) no-repeat bottom /
    contain;
}
