.reviews {
  position: relative;
  margin-top: -50px;
  padding: 50px 0;
  text-align: center;
  background: -webkit-linear-gradient(-86deg, #fff 86%, #f2f2f2 86%);
  @media (min-width: 519.5px) {
    background: -webkit-linear-gradient(-86deg, #fff 83%, #f2f2f2 83%);
    @media (min-width: 980.5px) {
      padding-top: 195px;
      margin-top: 0;
      &::after {
        position: absolute;
        content: "";
        top: 80px;
        left: 50%;
        background: url(../img/quotes.svg) 50% 5px no-repeat;
        width: 80px;
        height: 75px;
        transform: translate(-50%);
      }
    }
  }
  /* .reviews__author */
  &__container {
    display: flex;
    flex-direction: column;
    @media (min-width: 659.5px) {
      padding: 0 20px;
    }
    @media (min-width: 859.5px) {
      padding-bottom: 50px;
    }
    @media (min-width: 980.5px) {
      padding-bottom: 90px;
    }
  }

  &__author {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.66;
    &:not(:last-child) {
      margin-bottom: 5px;
    }
    @media (min-width: 659.5px) {
      font-size: 20px;
    }
  }
  &__sub-author {
    display: none;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    @media (min-width: 659.5px) {
      display: block;
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
  }

  /* .reviews__text */

  &__text {
    font-size: 14px;
    line-height: 2.14;
    color: #283645;
    &:not(:last-child) {
      margin-bottom: 40px;
    }
    @media (min-width: 659.5px) {
      order: -1;
      line-height: 1.6;
      font-size: 18px;
    }
    @media (min-width: 980px) {
      position: relative;
      order: -1;
      line-height: 1.6;
      font-size: 18px;
    }
  }
}

.slider-controls {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 19px;
}

.slider-control {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #283645;
  opacity: 0.3;
  @media (min-width: 980px) {
    display: none;
  }
}

.checked {
  outline: 3px solid #283645;
  background-color: #fff;
  opacity: 1;
}
