@use "sass:math";
@import "fonts";
@import "null";
@import "header";
@import "intro";
@import "about";
@import "advantage";
@import "reviews";
@import "price";
@import "contacts";
@import "map";
@import "footer";


.title {
font-size: 24px;
font-weight: 300;
line-height: 1.2;
text-align: center;
@media (min-width:659.5px){
      font-size: 40px;
   }
}

.mobile-logo {
   @media (min-width:659.5px){
      display: none;
   }
}

.tablet-logo {
   display: none;
   @media (min-width:659.5px){
        display: block;
   }
}